<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>247137595298-682c5skri0lkb9f712ga3378qbat4uib.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.247137595298-682c5skri0lkb9f712ga3378qbat4uib</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>247137595298-1iup50tv28k6f9208eamj7ribmm4b2lg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAWRH7qDPCs0q-ZFB1PTHeBT-203_wpWrY</string>
	<key>GCM_SENDER_ID</key>
	<string>247137595298</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mbt1.mbt1</string>
	<key>PROJECT_ID</key>
	<string>mbt1-c8b96</string>
	<key>STORAGE_BUCKET</key>
	<string>mbt1-c8b96.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:247137595298:ios:c2bd91bfb4ed46b3fdccfb</string>
</dict>
</plist>